@import 'variables';
@import 'mixins';
@import '~swiper/swiper.scss';
@import '~swiper/modules/navigation/navigation';
@import '~swiper/modules/pagination/pagination';
@import "base";
@import 'header';
@import 'main-banner';
@import 'about';
@import 'works';
@import 'blog';
@import 'clients'
